@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", serif;
  font-weight: 400;
}

.menu {
  background-color: #155e95;
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: 500;
}

.menu a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.menu a:hover {
  text-decoration: underline;
  color: red;
}

.banner {
  background-color: #6a80b9;
  color: white;
  text-align: center;
  padding: 50px 20px;
  font-size: 24px;
}

.content {
  display: flex;
  flex: 1;
  padding: 20px;
}

.content .left,
.content .right {
  width: 20%;
  background-color: #f4f4f4;
  padding: 20px;
}

.content .center {
  flex: 1;
  padding: 20px;
  background-image: url("https://cdn.pixabay.com/photo/2016/11/19/14/16/man-1839500_1280.jpg");
}

.pictures {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
}

.pictures div {
  width: 16%;
  background-color: #f6c794;
  text-align: center;
  padding: 10px;
}

.footer {
  background-color: #fff6b3;
  color: white;
  text-align: center;
  padding: 15px;
}
